/* style.css for davidherren.ch / 2024-03-30 */

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'RTAliasRough';
  src: url('/fonts/RTAliasRough-Regular.woff2') format('woff2'),
       url('/fonts/RTAliasRough-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --spacing: 2rem;
  
  --markColorA: hsl(156, 100%, 75%);
  --markColorB: black;
  --bgColor:    hsl(0, 0%, 50%);
  --fontColor:  hsl(0, 0%, 100%);
  --darkGray:   hsl(0, 0%, 26%);
  --menuBg:     hsl(0, 0%, 85%);
}

::selection {
  background-color: var(--markColorA);
  color: var(--markColorB);
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: var(--bgColor); 
}

::-webkit-scrollbar-thumb {
  background: var(--markColorA);
}


* {
  scroll-behavior: smooth;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

body {
  background-color: var(--bgColor);
  margin: var(--spacing);
  color: var(--fontColor);
}

a {
  text-decoration-thickness: 4px;
  line-height: 100%;
  color: var(--markColorA);
}

a:hover {
  color: var(--fontColor) !important;
  text-decoration: none;
}

a:visited {
  color: var(--markColorA);
}

h1 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0em;
  color: var(--markColorA);
  font-weight: 500;
}


h2 {
  margin-top: 4rem;
  font-weight: 500;
  color: var(--markColorA);
}

h3 {
  margin: 0px;
  font-weight: normal;
  font-size: 1rem;
}

p {
  margin: 0;
}

sub, sup{
	line-height: 0px;
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
  margin-bottom: 0px;
}

mark {
  background-color: var(--bgColor);
  color: var(--markColorA);
  font-weight: 500;
}

#js-warning {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'RTAliasRough', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  height: 2rem;
  background-color: black;
  color: red;
}

.intext-link {
  color: var(--markColorA);
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 4px;
}

#index {
  margin: -1rem;
}

#index-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.index-item {
  width: calc(33.33% - var(--spacing));
  overflow: hidden; 
  cursor: pointer;
  margin: 1rem;
}

.index-item.work {
  width: calc(25%);
  margin: 0rem;
}

.index-item-inner {
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.index-item-inner-frame {
  position: absolute;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  z-index: 2;
}

.index-item-inner-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 0%, 0.4);
  backdrop-filter: blur(10px);
  visibility: collapse;
  flex-direction: column;
}

.index-item-inner-text-subtitle {
  font-weight: 100 !important;
}

.index-item-inner-text p {
  padding: var(--spacing);
  text-align: center;
  color: var(--fontColor);
  font-size: 1.5rem;
  line-height: 150%;
}

.index-item-inner-text h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.index-item-inner-frame:hover ~.index-item-inner-text {
  visibility: visible;
}

.index-item-inner-frame:hover {
  border: var(--markColorA);
  border-style: solid;
  border-width: 4px;
}

.index-item-inner img {
  height: 100%;
  object-fit: cover;
  transition: height 0.2s ease-in;
  transition: height 0.1s ease-out;
}

.frame {
  padding: 0px 0px 0px 0px;
  border: 2px solid black;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.3);
  background-color: hsla(0, 0%, 0%, 0.4);
  backdrop-filter: blur(10px);
}

.frame-title {
  display: flex;
  justify-content: center;
  height: var(--spacing);
  align-items: center;
}

.frame-title-text {
  padding: 1rem;
}

.frame-title-center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--markColorA);
  color: var(--markColorB);
  font-family: 'RTAliasRough', sans-serif;
  letter-spacing: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.frame-title-left {
  position: relative;
  left: -2px;
  top: -1px;
  width: 2px;
  height: calc(1rem + 2px);
  margin-right: -2px;
}

#menu {
  margin-bottom: calc(2*var(--spacing));
  background-color: var(--menuBg);
  color: var(--darkGray);
  overflow: hidden;
  width: auto;
}

#menu-title {
  display: flex;
  height: var(--spacing);
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

#menu-title-left {
  height: calc(100% - 2px);
  background-color: hsl(0deg 0% 75%) ;
  margin-bottom: 2px;
  z-index: 1;
}

#menu-title-right {
  position: relative;
  top: -3px;
  left: 2px;
  width: auto;
  height: calc(100% - 2px);
}

#language-switch {
  display: flex;
  justify-content: right;
  height: 34px;
}

#menu-title-center {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--markColorA);
  text-decoration: none;
  margin-right: -2px;
}

#menu-title-center:hover {
  background-color: var(--markColorB);
}

#menu-title-center:hover h1, #menu-title-center:hover h2 {
  color: var(--markColorA);
}

#menu-title-center-inner {
  width: 100%;
  text-align: center;
}

#menu-title h1, #menu-title h2, #menu-title a, #menu-title a:visited {
  font-family: 'RTAliasRough', sans-serif;
  color: var(--markColorB);
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-top: 0em;
  margin-bottom: 0em;
}

#menu-inner {
  overflow: hidden;
  visibility: visible;
  height: auto;
  margin: var(--spacing);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#menu-works, #menu-about {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  flex-wrap: wrap;
}

#menu-works {
  justify-content: flex-start;
}

#menu-about {
  justify-content: flex-end;
}

#about {
  margin-top: -5rem;
  display: flex;
  gap: var(--spacing);
}

.about-items sup {
  color: var(--fontColor);
}

.about-items {
  height: auto;
  margin-bottom: 0.5rem;
}

#about-left, #about-right {
  width: 50%;
}

.button-navigation {
  font-family: 'RTAliasRough', sans-serif;
  color: black;
  text-decoration: none;
  border: none;
  background: hsl(0deg 0% 75%);
  box-shadow: inset -2px -2px black, inset 2px 2px black, inset -4px -4px rgb(158, 158, 158), inset 4px 4px #ffffff;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 0.5rem 1rem;
  text-wrap: nowrap;
}

.button-navigation.button-highlighted, .button-navigation:active {
  color: black;
  box-shadow: inset -2px -2px black, inset 2px 2px black, inset -4px -4px #ffffff, inset 4px 4px rgb(158, 158, 158);
}

.button-navigation:visited {
  color: black;
}

.button-navigation.exhibition {
  width: 34px;
  height: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-navigation.exhibition svg {
  rotate: 180deg;
}

.button-navigation:hover:not(.button-highlighted) {
  color: var(--fontColor);
}


#button-dropdown:hover #dropdown-svg rect, .button-navigation.exhibition:hover #dropdown-svg rect {
  fill: var(--fontColor);
}

#button-de, #button-en {
  padding-top: 7px;
  padding-left: 12px;
  padding-right: 12px;
}

#button-de {
  margin-right: -2px;
}

.button-navigation.visible {
  opacity: 1;
  visibility: visible;
}

#button-dropdown {
  margin-top: -2px;
  margin-left: -2px;
  width: 34px;
  height: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dropdown-svg {
  width: 16px;
}

#dropdown-svg rect {
  fill: var(--markColorB);
}

.translateY-01 { transform: translateY(-24px); }
.translateY-02 { transform: translateY(-8px); }
.translateY-03 { transform: translateY(8px); }
.translateY-04 { transform: translateY(24px); }

#content {
  margin-top: var(--spacing);
}

#content-inner {
  display: flex;
  gap: calc(1.5*var(--spacing));
}

#content-bottom {
  max-height: calc(100vh - 5 * var(--spacing));
  overflow: hidden;
  margin-top: calc(4*var(--spacing));
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#content p, #content a, #content h1, #content h2 {
  font-size: 1.5rem;
  line-height: 150%;
}

#work-text-inline p, #work-text-inline h1 {
  display: inline;
}

.content-left-img-outer {
  overflow: hidden;
  position: sticky;
  top: var(--spacing);
  line-height: 0;
}

.content-left-img-outer img {
  width: 100%;
}

#content-inner-left-text {
  width: 100%;
  position: sticky;
  top: var(--spacing);
}

.work-image-title, .work-model-title, .work-video-title {
  display: none;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
  height: calc(100vh - 2*var(--spacing));
  padding: 0;
  margin-left: 4rem;
  margin-right: 4rem;
}

#content-inner-right-text {
  min-height: calc(100vh - 2*var(--spacing));
}

#work-text {
  overflow-y: scroll;
  padding-right: 2rem;
}

#work-text::-webkit-scrollbar {
  width: 4px;
}

#work-text-description {
  font-weight: 500;
  color: var(--markColorA);
  margin-bottom: var(--spacing);
}

#work-infos {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

#work-links {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

#work-links a {
  margin-right: 1rem;
  white-space: nowrap;
}

#embedded-model {
  width: 100%;
  min-height: calc(100vh - 2*var(--spacing));
  height: calc(35vw - 2*var(--spacing));
  background-color: var(--bgColor);
  margin-top: calc(2*var(--spacing));
}

.svg-arrow line, .svg-arrow path, .svg-arrow rect {
  stroke: none;
}

.svg-arrow rect {
  fill: var(--markColorA);
}

.svg-arrow:hover rect {
  fill: var(--markColorB);
}

.translate-00 { transform: translateX(0px); }
.translate-62 { transform: translateX(62px); }
.translate-54 { transform: translateX(54px); }
.translate-46 { transform: translateX(46px); }
.translate-38 { transform: translateX(38px); }
.translate-30 { transform: translateX(30px); }
.translate-22 { transform: translateX(22px); }

.svg-arrow.no-transition {
  transition: none;
}

.arrow-rotate {
  transform: rotate(180deg);
}

.arrow-up {
  transform: rotate(90deg);
}

.work-images {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);  
  margin-top: var(--spacing);
}

.abb-anchor {
  height: 0;
  margin: 0;
}

#work-video {
  margin-top: calc(2*var(--spacing));
}

#pointer {
  position: sticky;
  top: 4rem;
  cursor: pointer;
  transition: top 0.5s ease;
  margin-bottom: var(--spacing);
}

.width-collapsed {
  flex: 35%;
}

.width-expanded {
  flex: 65%;
}

#content-inner-left, #content-inner-right {
  transition: flex 1s ease-in-out;
}

.exhibition {
  height: 100%;
 }

.ftn {
  text-decoration: none;
}

#itemizations, #literature {
  margin-top: var(--spacing);
}

#itemizations p, #literature p {
  display: block;
}

#itemizations a {
  text-decoration: none;
}

.exhibition-img {
  display: flex;
  height: 0px;
  overflow: hidden;
  flex-direction: row-reverse;
  align-items: flex-start;
  margin-left: calc((-1*100vw/8) + 12px);
  gap: var(--spacing);
}

.exhibition-img img, .exhibition-img p {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

.exhibition-img-expanded {
  height: 100%;
}

.exhibition-img img {
  height: auto;
  min-width: 50%;
}

.exhibition-sub-main {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: -46px;
}

@media screen and (max-width: 1024px) {
  :root {
    --spacing: 1rem;
    --fontSize: 1rem;
  }

  #content {
    margin-top: calc(2*var(--spacing));
  }

  #content-bottom {
    display: none;
  }

  #content-inner-left {
    margin-bottom: calc(2*var(--spacing));
  }

  #content-inner-center, #embedded-model, #content-inner-left-text {
    display: none;
  }

  #menu-inner {
    margin: 1rem;
  }

  #index {
    margin-bottom: var(--spacing);
  }

  #menu-title h1, #menu-title h2, #menu-title a, #menu-title a:visited {
    font-size: var(--fontSize);
  }

  #content p, #content a, #content h1, #content h2 {
    font-size: 1.4rem;
    line-height: 150%;
  }
  
  .index-item {
    width: 100%;
    margin-bottom: 0;
   }
 
   #about, #content-inner {
     display: block;
     margin-top: 0;
   }
 
   #about-left, #about-right {
     width: 100%;
   }

   #button-dropdown:hover #dropdown-svg rect {
    fill: var(--markColorB);
  }

  .button-navigation.exhibition {
    visibility: collapse;
  }

  #menu-title {
    height: 2rem;
  }

  #work-text {
    overflow: inherit;
    max-height: 100% !important;
    padding-right: 0rem;
  }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
#index-inner {
  gap: var(--spacing);
  justify-content: center;
}

  #content-inner {
    flex-wrap: wrap;
  }
  .index-item {
    margin: 0;
    width: calc(50% - 1.5 * var(--spacing));
  }
}
